#
# temperature-monitoring - http://github.com/blueskyfish/temperature-monitor.git
#
# The MIT License (MIT)
# Copyright (c) 2015 BlueSkyFish
#
# Distributed on "<%= datetime %> @ <%= target %>" in version <%= version %>
#

root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,less,json}]
indent_style = space
indent_size = 2
charset = utf-8

[*.{md,markdown,txt}]
indent_style = tab
indent_size = 4
charset = utf-8
